<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.GuruDao">
  <insert id="insertGuru">
  insert into guru values(#{guru.guruId},#{guru.guruName},#{guru.guruPhoto},#{guru.guruIntro})
  </insert>
  <select id="findGuru" resultType="Guru">
  	select guru_id as guruId,guru_name as guruName ,guru_photo as guruPhoto,guru_intro as guruIntro
  	from guru
  	where guru_name like  concat(concat('%',#{context}),'%')
  </select>
    <update id="updateGuru">
        update guru set guru_id =#{guru.guruId},guru_name=#{guru.guruName}
        ,guru_photo=#{guru.guruPhoto},guru_intro=#{guru.guruIntro}
    </update>
    <select id="findByPage" resultType="Guru">
        select guru_id as guruId,guru_name as guruName ,guru_photo as guruPhoto,guru_intro as guruIntro
        from guru limit #{start},#{rows}

    </select>
    <select id="findTotal" resultType="int">
        select count(*) from guru
    </select>
</mapper>
